.pl {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-texts {
  width: 65%;
}

.pl-title {
  font-size: 40px;
  font-weight: 600;
}

.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pl-projects-head {
  font-family: inconsolata, monospace;
  font-size: 2rem;
  line-height: 1;
  margin-top: 3.75rem;
  padding: 2rem 0;
  position: relative;
  left: -36rem;
}
.pl-projects-head:before {
  content: "<";
}

.pl-projects-head:after {
  content: ">";
}
.pl-projects-end {
  position: relative;
  left: -3rem;
  margin-top: 2rem;
}

.pl-projects-end:after {
  content: "</" attr(data-text) ">";
  display: inline-block;
  font-family: inconsolata, monospace;
  font-size: 2rem;
  line-height: 1rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
  .pl {
    padding: 10px;
  }

  .pl-texts {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }
}
